@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --nba-team-angle: calc(360deg / 30);
  --nfl-team-angle: calc(360deg / 32);
  --mlb-team-angle: calc(360deg / 30);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #34495e;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

/* Utilities */
.hide {
  display: none;
}

.bold {
  font-weight: bold;
}

.tab-item {
  padding: 10px;
}

#nba-logo {
  width: 24px;
  height: 49px;
  border-radius: 6px;
}

#nfl-logo {
  width: 49px;
  height: 49px;
}

#mlb-logo {
  width: 49px;
  height: 28px;
}

.tab-border {
  background: #fff;
  border: #000 2px solid;
  border-radius: 50px;
}

/* Title */
#title {
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-top: 20px;
  color: #fff;
}

#title h1 {
  letter-spacing: 2px;
}

/* Sports Option */

.container-1 {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px auto;
}

/* Sports Tab */
/* NBA Showcase & MLB Showcase */
/* Both league got 30 teams === same set up */

#nba-tab-content,
#nfl-tab-content,
#mlb-tab-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel {
  position: relative;
}

.container-2 {
  width: 500px;
  height: 500px;
  background-color: #ccc;
  border-radius: 50%;
  border: 10px solid #dde;
  position: relative;
  overflow: hidden;
  transition: transform 10s ease-out;
}

.container-2 div {
  height: 50%;
  width: 50%;
  position: absolute;
  clip-path: polygon(60% 0, 50% 100%, 40% 0);
  transform-origin: bottom;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
  left: 120px;
  padding-bottom: 50px;
}

.container-2 h3 {
  transform: rotate(270deg);
  font-size: 16px;
  font-weight: bold;
}

#nba-spin-btn,
#nfl-spin-btn,
#mlb-spin-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  background: #e2e2e2;
  text-transform: uppercase;
  border: 8px solid #fff;
  font-weight: bold;
  font-size: 20px;
  color: #a2a2a2;
  width: 80px;
  height: 80px;
  font-family: sans-serif;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
}

#nba-spin-btn:active,
#nfl-spin-btn:active,
#mlb-spin-btn:active {
  text-align: center;
  height: 70px;
  width: 70px;
  font-size: 16px;
}

#nba-spin-btn:active::before,
#nfl-spin-btn:active::before,
#mlb-spin-btn:active::before {
  content: "";
  left: 17px;
  top: -30px;
  width: 20px;
  height: 30px;
  background: #fff;
  clip-path: polygon(50% 0% 15% 100% 85% 100%);
}

#nba-spin-btn::before,
#nfl-spin-btn::before,
#mlb-spin-btn::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 22px;
  width: 20px;
  height: 30px;
  background: #fff;
  clip-path: polygon(50% 0, 15% 100%, 85% 100%);
}

#nba-tab-content .container-2 .selected,
#nfl-tab-content .container-2 .selected,
#mlb-tab-content .container-2 .selected {
  background: #000 !important;
}

/* NBA Teams */
/* Atlantic */
#nba-tab-content .container-2 .bos {
  background: #3f51b5;
}

#nba-tab-content .container-2 .bkn {
  background: #ff9880;
  transform: rotate(calc(var(--nba-team-angle) * 1));
}

#nba-tab-content .container-2 .nyk {
  background: #e91e63;
  transform: rotate(calc(var(--nba-team-angle) * 2));
}
#nba-tab-content .container-2 .phi {
  background: #4caf50;
  transform: rotate(calc(var(--nba-team-angle) * 3));
}
#nba-tab-content .container-2 .tor {
  background: #009688;
  transform: rotate(calc(var(--nba-team-angle) * 4));
}

/* Pacific */
#nba-tab-content .container-2 .gsw {
  background: #3f51b5;
  transform: rotate(calc(var(--nba-team-angle) * 5));
}

#nba-tab-content .container-2 .lac {
  background: #ff9880;
  transform: rotate(calc(var(--nba-team-angle) * 6));
}

#nba-tab-content .container-2 .lal {
  background: #e91e63;
  transform: rotate(calc(var(--nba-team-angle) * 7));
}

#nba-tab-content .container-2 .phx {
  background: #4caf50;
  transform: rotate(calc(var(--nba-team-angle) * 8));
}

#nba-tab-content .container-2 .sac {
  background: #009688;
  transform: rotate(calc(var(--nba-team-angle) * 9));
}

/* Central */

#nba-tab-content .container-2 .chi {
  background: #3f51b5;
  transform: rotate(calc(var(--nba-team-angle) * 10));
}

#nba-tab-content .container-2 .cle {
  background: #ff9880;
  transform: rotate(calc(var(--nba-team-angle) * 11));
}

#nba-tab-content .container-2 .det {
  background: #e91e63;
  transform: rotate(calc(var(--nba-team-angle) * 12));
}

#nba-tab-content .container-2 .ind {
  background: #4caf50;
  transform: rotate(calc(var(--nba-team-angle) * 13));
}

#nba-tab-content .container-2 .mil {
  background: #009688;
  transform: rotate(calc(var(--nba-team-angle) * 14));
}

/* Southeast */

#nba-tab-content .container-2 .atl {
  background: #3f51b5;
  transform: rotate(calc(var(--nba-team-angle) * 15));
}

#nba-tab-content .container-2 .cha {
  background: #ff9880;
  transform: rotate(calc(var(--nba-team-angle) * 16));
}

#nba-tab-content .container-2 .mia {
  background: #e91e63;
  transform: rotate(calc(var(--nba-team-angle) * 17));
}

#nba-tab-content .container-2 .orl {
  background: #4caf50;
  transform: rotate(calc(var(--nba-team-angle) * 18));
}

#nba-tab-content .container-2 .was {
  background: #009688;
  transform: rotate(calc(var(--nba-team-angle) * 19));
}

/* Northwst */

#nba-tab-content .container-2 .den {
  background: #3f51b5;
  transform: rotate(calc(var(--nba-team-angle) * 20));
}

#nba-tab-content .container-2 .min {
  background: #ff9880;
  transform: rotate(calc(var(--nba-team-angle) * 21));
}

#nba-tab-content .container-2 .okc {
  background: #e91e63;
  transform: rotate(calc(var(--nba-team-angle) * 22));
}

#nba-tab-content .container-2 .por {
  background: #4caf50;
  transform: rotate(calc(var(--nba-team-angle) * 23));
}

#nba-tab-content .container-2 .uta {
  background: #009688;
  transform: rotate(calc(var(--nba-team-angle) * 24));
}

/* Southwest */

#nba-tab-content .container-2 .dal {
  background: #3f51b5;
  transform: rotate(calc(var(--nba-team-angle) * 25));
}

#nba-tab-content .container-2 .hou {
  background: #ff9880;
  transform: rotate(calc(var(--nba-team-angle) * 26));
}

#nba-tab-content .container-2 .mem {
  background: #e91e63;
  transform: rotate(calc(var(--nba-team-angle) * 27));
}

#nba-tab-content .container-2 .nop {
  background: #4caf50;
  transform: rotate(calc(var(--nba-team-angle) * 28));
}

#nba-tab-content .container-2 .sas {
  background: #009688;
  transform: rotate(calc(var(--nba-team-angle) * 29));
}

/* NFL Teams */
/* AFC North */
#nfl-tab-content .container-2 .bal {
  background: #3f51b5;
}

#nfl-tab-content .container-2 .cin {
  background: #ff9880;
  transform: rotate(calc(var(--nfl-team-angle) * 1));
}

#nfl-tab-content .container-2 .cle {
  background: #e91e63;
  transform: rotate(calc(var(--nfl-team-angle) * 2));
}
#nfl-tab-content .container-2 .pit {
  background: #4caf50;
  transform: rotate(calc(var(--nfl-team-angle) * 3));
}

/* AFC East */
#nfl-tab-content .container-2 .buf {
  background: #3f51b5;
  transform: rotate(calc(var(--nfl-team-angle) * 4));
}

#nfl-tab-content .container-2 .mia {
  background: #ff9880;
  transform: rotate(calc(var(--nfl-team-angle) * 5));
}

#nfl-tab-content .container-2 .ne {
  background: #e91e63;
  transform: rotate(calc(var(--nfl-team-angle) * 6));
}
#nfl-tab-content .container-2 .nyj {
  background: #4caf50;
  transform: rotate(calc(var(--nfl-team-angle) * 7));
}

/* AFC South */
#nfl-tab-content .container-2 .hou {
  background: #3f51b5;
  transform: rotate(calc(var(--nfl-team-angle) * 8));
}

#nfl-tab-content .container-2 .ind {
  background: #ff9880;
  transform: rotate(calc(var(--nfl-team-angle) * 9));
}

#nfl-tab-content .container-2 .jax {
  background: #e91e63;
  transform: rotate(calc(var(--nfl-team-angle) * 10));
}

#nfl-tab-content .container-2 .ten {
  background: #4caf50;
  transform: rotate(calc(var(--nfl-team-angle) * 11));
}

/* AFC West */
#nfl-tab-content .container-2 .den {
  background: #3f51b5;
  transform: rotate(calc(var(--nfl-team-angle) * 12));
}

#nfl-tab-content .container-2 .kc {
  background: #ff9880;
  transform: rotate(calc(var(--nfl-team-angle) * 13));
}

#nfl-tab-content .container-2 .lv {
  background: #e91e63;
  transform: rotate(calc(var(--nfl-team-angle) * 14));
}

#nfl-tab-content .container-2 .lac {
  background: #4caf50;
  transform: rotate(calc(var(--nfl-team-angle) * 15));
}

/* NFC North */
#nfl-tab-content .container-2 .chi {
  background: #3f51b5;
  transform: rotate(calc(var(--nfl-team-angle) * 16));
}

#nfl-tab-content .container-2 .det {
  background: #ff9880;
  transform: rotate(calc(var(--nfl-team-angle) * 17));
}

#nfl-tab-content .container-2 .gb {
  background: #e91e63;
  transform: rotate(calc(var(--nfl-team-angle) * 18));
}

#nfl-tab-content .container-2 .min {
  background: #4caf50;
  transform: rotate(calc(var(--nfl-team-angle) * 19));
}

/* NFC East */
#nfl-tab-content .container-2 .dal {
  background: #3f51b5;
  transform: rotate(calc(var(--nfl-team-angle) * 20));
}

#nfl-tab-content .container-2 .nyg {
  background: #ff9880;
  transform: rotate(calc(var(--nfl-team-angle) * 21));
}

#nfl-tab-content .container-2 .phi {
  background: #e91e63;
  transform: rotate(calc(var(--nfl-team-angle) * 22));
}
#nfl-tab-content .container-2 .was {
  background: #4caf50;
  transform: rotate(calc(var(--nfl-team-angle) * 23));
}

/* NFC South */
#nfl-tab-content .container-2 .atl {
  background: #3f51b5;
  transform: rotate(calc(var(--nfl-team-angle) * 24));
}

#nfl-tab-content .container-2 .car {
  background: #ff9880;
  transform: rotate(calc(var(--nfl-team-angle) * 25));
}

#nfl-tab-content .container-2 .no {
  background: #e91e63;
  transform: rotate(calc(var(--nfl-team-angle) * 26));
}

#nfl-tab-content .container-2 .tb {
  background: #4caf50;
  transform: rotate(calc(var(--nfl-team-angle) * 27));
}

/* NFC West */
#nfl-tab-content .container-2 .ari {
  background: #3f51b5;
  transform: rotate(calc(var(--nfl-team-angle) * 28));
}

#nfl-tab-content .container-2 .lar {
  background: #ff9880;
  transform: rotate(calc(var(--nfl-team-angle) * 29));
}

#nfl-tab-content .container-2 .sf {
  background: #e91e63;
  transform: rotate(calc(var(--nfl-team-angle) * 30));
}

#nfl-tab-content .container-2 .sea {
  background: #4caf50;
  transform: rotate(calc(var(--nfl-team-angle) * 31));
}

/* MLB Teams */
/* American League Central */
#mlb-tab-content .container-2 .cws {
  background: #3f51b5;
}

#mlb-tab-content .container-2 .cle {
  background: #ff9880;
  transform: rotate(calc(var(--mlb-team-angle) * 1));
}

#mlb-tab-content .container-2 .det {
  background: #e91e63;
  transform: rotate(calc(var(--mlb-team-angle) * 2));
}
#mlb-tab-content .container-2 .kc {
  background: #4caf50;
  transform: rotate(calc(var(--mlb-team-angle) * 3));
}
#mlb-tab-content .container-2 .min {
  background: #009688;
  transform: rotate(calc(var(--mlb-team-angle) * 4));
}

/* National League Central */
#mlb-tab-content .container-2 .chc {
  background: #3f51b5;
  transform: rotate(calc(var(--mlb-team-angle) * 5));
}

#mlb-tab-content .container-2 .cin {
  background: #ff9880;
  transform: rotate(calc(var(--mlb-team-angle) * 6));
}

#mlb-tab-content .container-2 .mil {
  background: #e91e63;
  transform: rotate(calc(var(--mlb-team-angle) * 7));
}

#mlb-tab-content .container-2 .pit {
  background: #4caf50;
  transform: rotate(calc(var(--mlb-team-angle) * 8));
}

#mlb-tab-content .container-2 .stl {
  background: #009688;
  transform: rotate(calc(var(--mlb-team-angle) * 9));
}

/* American League East */

#mlb-tab-content .container-2 .bal {
  background: #3f51b5;
  transform: rotate(calc(var(--mlb-team-angle) * 10));
}

#mlb-tab-content .container-2 .bos {
  background: #ff9880;
  transform: rotate(calc(var(--mlb-team-angle) * 11));
}

#mlb-tab-content .container-2 .nyy {
  background: #e91e63;
  transform: rotate(calc(var(--mlb-team-angle) * 12));
}

#mlb-tab-content .container-2 .tb {
  background: #4caf50;
  transform: rotate(calc(var(--mlb-team-angle) * 13));
}

#mlb-tab-content .container-2 .tor {
  background: #009688;
  transform: rotate(calc(var(--mlb-team-angle) * 14));
}

/* National League East */

#mlb-tab-content .container-2 .atl {
  background: #3f51b5;
  transform: rotate(calc(var(--mlb-team-angle) * 15));
}

#mlb-tab-content .container-2 .mia {
  background: #ff9880;
  transform: rotate(calc(var(--mlb-team-angle) * 16));
}

#mlb-tab-content .container-2 .nym {
  background: #e91e63;
  transform: rotate(calc(var(--mlb-team-angle) * 17));
}

#mlb-tab-content .container-2 .phi {
  background: #4caf50;
  transform: rotate(calc(var(--mlb-team-angle) * 18));
}

#mlb-tab-content .container-2 .wsh {
  background: #009688;
  transform: rotate(calc(var(--mlb-team-angle) * 19));
}

/* American League West */

#mlb-tab-content .container-2 .hou {
  background: #3f51b5;
  transform: rotate(calc(var(--mlb-team-angle) * 20));
}

#mlb-tab-content .container-2 .laa {
  background: #ff9880;
  transform: rotate(calc(var(--mlb-team-angle) * 21));
}

#mlb-tab-content .container-2 .oak {
  background: #e91e63;
  transform: rotate(calc(var(--mlb-team-angle) * 22));
}

#mlb-tab-content .container-2 .sea {
  background: #4caf50;
  transform: rotate(calc(var(--mlb-team-angle) * 23));
}

#mlb-tab-content .container-2 .tex {
  background: #009688;
  transform: rotate(calc(var(--mlb-team-angle) * 24));
}

/* National League West */

#mlb-tab-content .container-2 .ari {
  background: #3f51b5;
  transform: rotate(calc(var(--mlb-team-angle) * 25));
}

#mlb-tab-content .container-2 .col {
  background: #ff9880;
  transform: rotate(calc(var(--mlb-team-angle) * 26));
}

#mlb-tab-content .container-2 .lad {
  background: #e91e63;
  transform: rotate(calc(var(--mlb-team-angle) * 27));
}

#mlb-tab-content .container-2 .sd {
  background: #4caf50;
  transform: rotate(calc(var(--mlb-team-angle) * 28));
}

#mlb-tab-content .container-2 .sf {
  background: #009688;
  transform: rotate(calc(var(--mlb-team-angle) * 29));
}

/* Table */

#left-table,
#right-table {
  background-color: #fff;
  border-collapse: separate;
  border: 2px solid #000;
  border-radius: 50px;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.input-border {
  background: #fff;
  border: 2px solid #000;
  border-radius: 50px;
}
/* Hide content initially */
#nba-tab-content,
#nfl-tab-content,
#mlb-tab-content {
  display: none;
}

.show {
  display: flex !important;
}

/* Wheel Buttons */
#wheel-btns {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Reset Button */
#wheel-btns #reset-btn,
#wheel-btns #export-btn {
  font-weight: normal;
  color: #000;
  background: #fff;
  height: auto;
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 20px;
}

#wheel-btns #reset-btn:active,
#wheel-btns #export-btn:active {
  font-weight: bold;
}

/* Submit Button for the URL */
form {
  display: flex;
}

#wheel-btns input[type="text"] {
  background: #fff;
  padding: 5px 10px;
  width: 250px;
  border: 2px solid #000;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#wheel-btns button[type="submit"] {
  font-weight: normal;
  padding: 5px 10px;
  background: #fff;
  border: 2px solid #000;
  border-left: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
}

#wheel-btns button[type="submit"]:active {
  font-weight: bold;
}



